# ============================================================
# COMMON CONFIGURATION
# ============================================================

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080


# ============================================================
# HTTP / LOCAL PROFILE
# ============================================================

Http__ServiceUrls__AuthAPI=https://localhost:<auth-port>
Http__ServiceUrls__ProductAPI=https://localhost:<product-port>
Http__ServiceUrls__ShoppingCartAPI=https://localhost:<cart-port>
Http__ServiceUrls__CouponAPI=https://localhost:<coupon-port>
Http__ServiceUrls__OrderAPI=https://localhost:<order-port>


# ============================================================
# DOCKER PROFILE
# ============================================================

Docker__ServiceUrls__AuthAPI=http://mango-auth:<port>
Docker__ServiceUrls__ProductAPI=http://mango-product:<port>
Docker__ServiceUrls__ShoppingCartAPI=http://mango-cart:<port>
Docker__ServiceUrls__CouponAPI=http://mango-coupon:<port>
Docker__ServiceUrls__OrderAPI=http://mango-order:<port>